# **PARSING FUNCTIONS**  

Read the code if you want, if not just run the next cell.

In [1]:
import xml.etree.ElementTree as et
import pandas as pd
from IPython.core import display as ICD
from pandas import json_normalize
import pandas as pd
import tqdm as tqdm
import os
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
from datetime import datetime
import time

#@title
types_dict={1:"Pass",2:"Offside Pass",3:"Take On",4:"Foul",5:"Out",6:"Corner Awarded",7:"Tackle",8:"Interception",9:"Turnover",10:"Save",11:"Claim",12:"Clearance",13:"Miss",14:"Post",15:"Attempt Saved",16:"Goal",17:"Card",18:"Player off",19:"Player on",20:"Player retired",21:"Player returns",22:"Player becomes goalkeeper",23:"Goalkeeper becomes player",24:"Condition change",25:"Official change",27:"Start delay",28:"End delay",30:"End",31:"Picked an orange",32:"Start",34:"Team set up",35:"Player changed position",36:"Player changed Jersey number",37:"Collection End",38:"Temp_Goal",39:"Temp_Attempt",40:"Formation change",41:"Punch",42:"Good Skill",43:"Deleted event",44:"Aerial",45:"Challenge",47:"Rescinded card",49:"Ball recovery",50:"Dispossessed",51:"Error",52:"Keeper pick-up",53:"Cross not claimed",54:"Smother",55:"Offside provoked",56:"Shield ball opp",57:"Foul throw-in",58:"Penalty faced",59:"Keeper Sweeper",60:"Chance missed",61:"Ball touch",63:"Temp_Save",64:"Resume",65:"Contentious referee decision",67:"50/50",68:"Referee drop ball",69:"Failed To Block",72:"Caught offside",73:"Other Ball Contact",74:"Blocked pass"};
types = pd.DataFrame.from_dict(types_dict,orient='index').reset_index()
types.columns=["type_id","event_name"]

qualifiers_dict={1:"Long ball",2:"Cross",3:"Head pass",4:"Through ball",5:"Free kick taken",6:"Corner taken",7:"Players caught offside",8:"Goal disallowed",9:"Penalty",10:"Hand",11:"6-seconds violation",12:"Dangerous play",13:"Foul",14:"Last line",15:"Head",16:"Small box-centre",17:"Box-centre",18:"Out of box-centre",19:"35+ centre",20:"Right footed",21:"Other body part",22:"Regular play",23:"Fast break",24:"Set piece",25:"From corner",26:"Free kick",28:"Own goal",29:"Assisted",30:"Involved",31:"Yellow Card",32:"Second yellow",33:"Red card",34:"Referee abuse",35:"Argument",36:"Fight",37:"Time wasting",38:"Excessive celebration",39:"Crowd interaction",40:"Other reason",41:"Injury",42:"Tactical",44:"Player position",49:"Attendance figure",50:"Official position",51:"Official ID",53:"Injured player id",54:"End cause",55:"Related event ID",56:"Zone",57:"End type",59:"Jersey number",60:"Small box-right",61:"Small box-left",62:"Box-deep right",63:"Box-right",64:"Box-left",65:"Box-deep left",66:"Out of box-deep right",67:"Out of box-right",68:"Out of box-left",69:"Out of box-deep left",70:"35+ right",71:"35+ left",72:"Left footed",73:"Left",74:"High",75:"Right",76:"Low left",77:"High left",78:"Low centre",79:"High centre",80:"Low right",81:"High right",82:"Blocked",83:"Close left",84:"Close right",85:"Close high",86:"Close left and high",87:"Close right and high",88:"High claim",89:"1 on 1",90:"Deflected save",91:"Dive and deflect",92:"Catch",93:"Dive and catch",94:"Def block",95:"Back pass",96:"Corner situation",97:"Direct free",100:"Six yard blocked",101:"Saved off line",102:"Goal mouth y co-ordinate",103:"Goal mouth z co-ordinate",106:"Attacking Pass",107:"Throw-in",108:"Volley",109:"Overhead",110:"Half Volley",111:"Diving Header",112:"Scramble",113:"Strong",114:"Weak",115:"Rising",116:"Dipping",117:"Lob",118:"One Bounce",119:"Few Bounces",120:"Swerve Left",121:"Swerve Right",122:"Swerve Moving",123:"Keeper Throw",124:"Goal Kick",127:"Direction of play",128:"Punch",130:"Team formation",131:"Team player formation",132:"Dive",133:"Deflection",134:"Far Wide Left",135:"Far Wide Right",136:"Keeper Touched",137:"Keeper Saved",138:"Hit Woodwork",139:"Own Player",140:"Pass End X",141:"Pass End Y",144:"Deleted event type",145:"Formation slot",146:"Blocked x co-ordinate",147:"Blocked y co-ordinate",153:"Not past goal line",154:"Intentional assist",155:"Chipped",156:"Lay-off",157:"Launch",158:"Persistent infringement",159:"Foul and abusive language",160:"Throw-in set piece",161:"Encroachment",162:"Leaving field",163:"Entering field",164:"Spitting",165:"Professional foul",166:"Handling on the line",167:"Out of play",168:"Flick-on",169:"Leading to attempt",170:"Leading to goal",171:"Rescinded card",172:"No impact on timing",173:"Parried safe",174:"Parried danger",175:"Fingertip",176:"Caught",177:"Collected",178:"Standing",179:"Diving",180:"Stooping",181:"Reaching",182:"Hands",183:"Feet",184:"Dissent",185:"Blocked cross",186:"Scored",187:"Saved",188:"Missed",189:"Player not visible",190:"From shot off target",191:"Off the ball foul",192:"Block by hand",194:"Captain",195:"Pull Back",196:"Switch of play",197:"Team kit",198:"GK hoof",199:"Gk kick from hands",200:"Referee stop",201:"Referee delay",202:"Weather problem",203:"Crowd trouble",204:"Fire",205:"Object thrown on pitch",206:"Spectator on pitch",207:"Awaiting officials decision",208:"Referee Injury",209:"Game end",210:"Assist",211:"Overrun",212:"Length",213:"Angle",214:"Big Chance",215:"Individual Play",216:"2nd related event ID",217:"2nd assisted",218:"2nd assist",219:"Players on both posts",220:"Player on near post",221:"Player on far post",222:"No players on posts",223:"In-swinger",224:"Out-swinger",225:"Straight",226:"Suspended",227:"Resume",228:"Own shot blocked",229:"Post-match complete",230:"GK X Coordinate",231:"GK Y Coordinate",232:"Unchallenged"};
qualifiers = pd.DataFrame.from_dict(qualifiers_dict,orient='index').reset_index()
qualifiers.columns = ["qualifier_id","description"]

qualifiers_dict2 = {str(key): str(value) for key, value in qualifiers_dict.items()}


def parsef24(F24file):
  tree = et.ElementTree(file = F24file)
  games = tree.getroot()
  gameinfo = games.findall('Game')
  gameinfo = gameinfo[0]
  game_id = gameinfo.get('id')
  home_team_id = gameinfo.get('home_team_id')
  home_team_name = gameinfo.get('home_team_name')
  away_team_id = gameinfo.get('away_team_id')
  away_team_name = gameinfo.get('away_team_name')
  competition_id = gameinfo.get('competition_id')
  competition_name = gameinfo.get('competition_name')
  season_id = gameinfo.get('season_id')

  global match_events
  match_events = pd.DataFrame()
  for game in games:
      for event in game:
          evento = json_normalize(event.attrib)
          mylist = []
          for q in event:
            mylist.append(q.attrib)
          evento["qualifiers"] = ["a"]
          evento.at[0,"qualifiers"] = mylist
          match_events = pd.concat([match_events,evento])
  match_events[["id","event_id","type_id","period_id","min","sec"]] = match_events[["id","event_id","type_id","period_id","min","sec"]].astype(int)
  match_events[["y","x"]] = match_events[["y","x"]].astype(float)
  match_events = pd.merge(match_events,types, on="type_id", how = "left")
  match_events = match_events[ ['id',"event_id","type_id", "event_name" ]+ [ col for col in match_events.columns if col not in ['id',"event_id","type_id", "event_name" ] ] ]
  match_events['competition_id'] = competition_id
  match_events['game_id'] = game_id
  match_events['home_team_id'] = home_team_id
  match_events['home_team_name'] = home_team_name
  match_events['away_team_id'] = away_team_id
  match_events['away_team_name'] = away_team_name
  match_events['competition_id'] = competition_id
  match_events['competition_name'] = competition_name
  match_events['season_id'] = season_id
  match_events['competition_id'] = competition_id

def explode_event(nome_df,id_evento,mytresh):
  global exploded_df
  exploded_df = pd.DataFrame()
  nome_df=nome_df[nome_df["type_id"]==id_evento]
  allqualifiers = pd.DataFrame()
  for i in range(len(nome_df)):
    qualifiers_detailed = json_normalize(nome_df.qualifiers.iloc[i]).T.reset_index().drop("index",axis=1).fillna("yes")
    qualifiers_detailed.columns = list(qualifiers_detailed.iloc[1])
    qualifiers_detailed = qualifiers_detailed.drop(labels=[0,1], axis=0)
    qualifiers_detailed.rename(columns=qualifiers_dict2,inplace=True)
    qualifiers_detailed["id"] = nome_df.id.iloc[i]
    allqualifiers = pd.concat([allqualifiers,qualifiers_detailed])
  exploded_df = pd.concat([exploded_df,pd.merge(nome_df.drop("qualifiers", axis=1), allqualifiers.reindex(sorted(allqualifiers.columns), axis=1).reset_index()\
                                            .drop("index", axis=1).dropna(thresh=len(allqualifiers)*mytresh, axis=1), on="id", how="outer")]).fillna("-")

#**PLEASE READ**:


**types** - DataFrame with all the IDs of event types and their respective names. Print 'types.head()' to get an idea of the content.


**qualifiers** - DataFrame with all the IDs of qualifiers and their respective names.
Print 'qualifiers.head()' to get an idea of the content



---







**parsef24** - Function that transforms an Opta F24 XML feed into a pandas DataFrame named match_events. To be executed correctly, it should receive the XML file's name as a parameter (which should already be loaded into Google Colab).
Print 'match_events.head(15)' to get an idea of the content.



---




**explode_event** - Function that takes the DataFrame 'match_events' (or another one filtered by you) and the type of event you want, "exploding" all qualifiers into columns to create a new DataFrame named "exploded_df". The last parameter is the threshold that defines the minimum percentage of non-null values that the columns must contain. If it is 1, it will return only columns with no NaN values, while if it is 0, it returns all columns.


Example:
```
explode_event(match_events, 1, 0.15)
```

# **METRIC CREATION**

## Metric Specifications

We want to calculate the average time a team takes to recover the ball.

Metric Specifications:
* Calculate the time to recover the ball since they lost it
* Count the total ball recoveries
* Calculate the average time for each team

We want to  create a table with columns:
* Team ID
* Team Name
* Ball recovery time

In [22]:
# START HERE:

parsef24("F24 La Liga 2023/f24-23-2022-2301594-eventdetails.xml")

# The parsef24 function will generate a new DataFrame called "match_events". Print "match_events.info()" to check the outcome.
match_events.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1835 entries, 0 to 1834
Data columns (total 27 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                1835 non-null   int64
 1   event_id          1835 non-null   int64
 2   type_id           1835 non-null   int64
 3   event_name        1820 non-null   object
 4   period_id         1835 non-null   int64
 5   min               1835 non-null   int64
 6   sec               1835 non-null   int64
 7   team_id           1835 non-null   object
 8   outcome           1835 non-null   object
 9   x                 1835 non-null   float64
 10  y                 1835 non-null   float64
 11  timestamp         1835 non-null   object
 12  timestamp_utc     1835 non-null   object
 13  last_modified     1835 non-null   object
 14  version           1835 non-null   object
 15  qualifiers        1835 non-null   object
 16  player_id         1807 non-null   object
 17  assist            3 non-null      object
 18  keypass           14 non-null     object
 19  competition_id    1835 non-null   object
 20  game_id           1835 non-null   object
 21  home_team_id      1835 non-null   object
 22  home_team_name    1835 non-null   object
 23  away_team_id      1835 non-null   object
 24  away_team_name    1835 non-null   object
 25  competition_name  1835 non-null   object
 26  season_id         1835 non-null   object
dtypes: float64(2), int64(6), object(19)
memory usage: 387.2+ KB

In [29]:
#We get all the ball recoveries from the match_events dataframe
ball_recoveries = match_events[(match_events["event_name"] == "Ball recovery") | (match_events["event_name"] == "Take On")]
#ball_recoveries = match_events.loc[(match_events["event_name"] == "Ball recovery") | (match_events["event_name"] == "Take On")]
ball_recoveries.reset_index(inplace=True, drop=True)
ball_recoveries

,id,event_id,type_id,event_name,period_id,min,sec,team_id,outcome,x,y,timestamp,timestamp_utc,last_modified,version,qualifiers,player_id,assist,keypass,competition_id,game_id,home_team_id,home_team_name,away_team_id,away_team_name,competition_name,season_id
0,2446743263,20,49,Ball recovery,1,1,49,175,1,14.2,18.5,2022-08-15T18:33:20.726,2022-08-15T17:33:20.726,2022-08-16T06:09:42,1660626581370,[],41189,NaN,NaN,23,2301594,1450,Getafe,175,Atlético de Madrid,Spanish La Liga,2022
1,2446743467,31,3,Take On,1,2,22,175,1,80.9,4.8,2022-08-15T18:33:53.710,2022-08-15T17:33:53.710,2022-08-16T06:11:35,1660626694940,"[{'id': '3710503121', 'qualifier_id': '178'}, ...",192364,NaN,NaN,23,2301594,1450,Getafe,175,Atlético de Madrid,Spanish La Liga,2022
2,2446743491,33,3,Take On,1,2,28,175,0,89.2,18.4,2022-08-15T18:33:59.450,2022-08-15T17:33:59.450,2022-08-16T06:12:15,1660626734786,"[{'id': '3710503515', 'qualifier_id': '178'}, ...",77390,NaN,NaN,23,2301594,1450,Getafe,175,Atlético de Madrid,Spanish La Liga,2022
3,2446818057,787,3,Take On,1,2,32,1450,0,22.3,87.9,2022-08-15T18:34:03.581,2022-08-15T17:34:03.581,2022-08-16T06:13:09,1660626788810,"[{'id': '3710230673', 'qualifier_id': '465'}, ...",199248,NaN,NaN,23,2301594,1450,Getafe,175,Atlético de Madrid,Spanish La Liga,2022
4,2446743707,38,49,Ball recovery,1,3,19,175,1,29.6,17.3,2022-08-15T18:34:50.434,2022-08-15T17:34:50.434,2022-08-16T06:13:54,1660626833418,[],77390,NaN,NaN,23,2301594,1450,Getafe,175,Atlético de Madrid,Spanish La Liga,2022
5,2446743751,23,49,Ball recovery,1,3,32,1450,1,12.6,34.2,2022-08-15T18:35:02.957,2022-08-15T17:35:02.957,2022-08-16T06:14:41,1660626880337,[],175204,NaN,NaN,23,2301594,1450,Getafe,175,Atlético de Madrid,Spanish La Liga,2022
6,2446743825,41,49,Ball recovery,1,3,43,175,1,58.2,40.0,2022-08-15T18:35:14.678,2022-08-15T17:35:14.678,2022-08-16T06:16:03,1660626962523,[],167449,NaN,NaN,23,2301594,1450,Getafe,175,Atlético de Madrid,Spanish La Liga,2022
7,2446743945,48,3,Take On,1,3,59,175,1,77.8,66.3,2022-08-15T18:35:30.635,2022-08-15T17:35:30.635,2022-08-16T06:17:54,1660627073882,"[{'id': '3709821359', 'qualifier_id': '56', 'v...",167449,NaN,NaN,23,2301594,1450,Getafe,175,Atlético de Madrid,Spanish La Liga,2022
8,2446743981,30,49,Ball recovery,1,4,8,1450,1,36.9,13.7,2022-08-15T18:35:39.239,2022-08-15T17:35:39.239,2022-08-16T06:18:24,1660627104276,[],168636,NaN,NaN,23,2301594,1450,Getafe,175,Atlético de Madrid,Spanish La Liga,2022
9,2446744011,52,49,Ball recovery,1,4,11,175,1,60.6,97.8,2022-08-15T18:35:41.886,2022-08-15T17:35:41.886,2022-08-16T06:18:46,1660627126065,[],89335,NaN,NaN,23,2301594,1450,Getafe,175,Atlético de Madrid,Spanish La Liga,2022
10,2446744495,36,49,Ball recovery,1,5,36,1450,1,44.9,54.0,2022-08-15T18:37:07.145,2022-08-15T17:37:07.145,2022-08-16T06:22:21,1660627340841,[],179271,NaN,NaN,23,2301594,1450,Getafe,175,Atlético de Madrid,Spanish La Liga,2022
11,2446744599,83,3,Take On,1,5,53,175,0,70.4,16.9,2022-08-15T18:37:24.298,2022-08-15T17:37:24.298,2022-08-16T06:22:50,1660627369457,"[{'id': '3710235393', 'qualifier_id': '464'}, ...",88482,NaN,NaN,23,2301594,1450,Getafe,175,Atlético de Madrid,Spanish La Liga,2022
12,2446744627,84,3,Take On,1,5,55,175,1,71.2,24.5,2022-08-15T18:37:26.218,2022-08-15T17:37:26.218,2022-08-16T06:23:16,1660627395977,"[{'id': '3710235801', 'qualifier_id': '465'}, ...",88482,NaN,NaN,23,2301594,1450,Getafe,175,Atlético de Madrid,Spanish La Liga,2022
13,2446745029,92,49,Ball recovery,1,6,59,175,1,46.6,41.6,2022-08-15T18:38:30.458,2022-08-15T17:38:30.458,2022-08-16T06:24:29,1660627468592,[],428399,NaN,NaN,23,2301594,1450,Getafe,175,Atlético de Madrid,Spanish La Liga,2022
14,2446745077,95,3,Take On,1,7,4,175,1,59.5,68.1,2022-08-15T18:38:34.912,2022-08-15T17:38:34.912,2022-08-16T06:24:47,1660627487073,"[{'id': '3710236999', 'qualifier_id': '464'}, ...",89335,NaN,NaN,23,2301594,1450,Getafe,175,Atlético de Madrid,Spanish La Liga,2022
15,2446819637,926,3,Take On,1,8,53,175,0,43.8,84.7,2022-08-15T18:40:24.431,2022-08-15T17:40:24.431,2022-08-16T06:30:53,1660627852953,"[{'id': '3710239665', 'qualifier_id': '56', 'v...",428399,NaN,NaN,23,2301594,1450,Getafe,175,Atlético de Madrid,Spanish La Liga,2022
16,2446747407,147,49,Ball recovery,1,12,56,175,1,1.4,7.9,2022-08-15T18:44:27.204,2022-08-15T17:44:27.204,2022-08-16T06:36:27,1660628187024,[],65807,NaN,NaN,23,2301594,1450,Getafe,175,Atlético de Madrid,Spanish La Liga,2022
17,2446747593,113,3,Take On,1,13,29,1450,0,63.0,35.8,2022-08-15T18:44:59.991,2022-08-15T17:44:59.991,2022-08-16T06:37:54,1660628273904,"[{'id': '3709842027', 'qualifier_id': '56', 'v...",179271,NaN,NaN,23,2301594,1450,Getafe,175,Atlético de Madrid,Spanish La Liga,2022
18,2446747605,153,49,Ball recovery,1,13,32,175,1,30.8,63.9,2022-08-15T18:45:03.669,2022-08-15T17:45:03.669,2022-08-16T06:38:19,1660628298527,[],434399,NaN,NaN,23,2301594,1450,Getafe,175,Atlético de Madrid,Spanish La Liga,2022
19,2446747725,117,49,Ball recovery,1,13,53,1450,1,25.6,77.3,2022-08-15T18:45:24.206,2022-08-15T17:45:24.206,2022-08-16T06:39:21,1660628360440,[],200599,NaN,NaN,23,2301594,1450,Getafe,175,Atlético de Madrid,Spanish La Liga,2022
20,2446747773,161,49,Ball recovery,1,13,59,175,1,66.4,39.4,2022-08-15T18:45:30.740,2022-08-15T17:45:30.740,2022-08-16T06:40:10,1660628409816,[],167449,NaN,NaN,23,2301594,1450,Getafe,175,Atlético de Madrid,Spanish La Liga,2022
21,2446748141,167,49,Ball recovery,1,15,16,175,1,11.0,13.4,2022-08-15T18:46:47.016,2022-08-15T17:46:47.016,2022-08-16T06:26:11,1660627522461,[],65807,NaN,NaN,23,2301594,1450,Getafe,175,Atlético de Madrid,Spanish La Liga,2022
22,2446748293,171,49,Ball recovery,1,15,38,175,1,46.2,69.6,2022-08-15T18:47:09.551,2022-08-15T17:47:09.551,2022-08-16T06:26:14,1660627562515,[],77390,NaN,NaN,23,2301594,1450,Getafe,175,Atlético de Madrid,Spanish La Liga,2022
23,2446748315,130,49,Ball recovery,1,15,41,1450,1,41.1,29.5,2022-08-15T18:47:12.719,2022-08-15T17:47:12.719,2022-08-16T06:26:20,1660627579635,[],171222,NaN,NaN,23,2301594,1450,Getafe,175,Atlético de Madrid,Spanish La Liga,2022
24,2446748495,175,49,Ball recovery,1,16,13,175,1,45.3,79.5,2022-08-15T18:47:44.509,2022-08-15T17:47:44.509,2022-08-16T06:27:01,1660627620260,[],89335,NaN,NaN,23,2301594,1450,Getafe,175,Atlético de Madrid,Spanish La Liga,2022
25,2446748507,176,3,Take On,1,16,15,175,1,46.0,81.2,2022-08-15T18:47:45.933,2022-08-15T17:47:45.933,2022-08-16T06:27:05,1660627624964,"[{'id': '3709847177', 'qualifier_id': '233', '...",89335,NaN,NaN,23,2301594,1450,Getafe,175,Atlético de Madrid,Spanish La Liga,2022
26,2446748519,140,49,Ball recovery,1,16,17,1450,1,42.1,15.9,2022-08-15T18:47:48.832,2022-08-15T17:47:48.832,2022-08-16T06:27:17,1660627636643,[],171222,NaN,NaN,23,2301594,1450,Getafe,175,Atlético de Madrid,Spanish La Liga,2022
27,2446748869,184,49,Ball recovery,1,17,27,175,1,28.3,95.1,2022-08-15T18:48:58.341,2022-08-15T17:48:58.341,2022-08-16T06:28:48,1660627728075,[],89335,NaN,NaN,23,2301594,1450,Getafe,175,Atlético de Madrid,Spanish La Liga,2022
28,2446749559,172,49,Ball recovery,1,19,38,1450,1,38.2,60.3,2022-08-15T18:51:08.863,2022-08-15T17:51:08.863,2022-08-16T06:32:53,1660627972289,[],171222,NaN,NaN,23,2301594,1450,Getafe,175,Atlético de Madrid,Spanish La Liga,2022
29,2446749887,211,49,Ball recovery,1,20,33,175,1,21.5,52.6,2022-08-15T18:52:03.851,2022-08-15T17:52:03.851,2022-08-16T06:34:16,1660628055673,[],428399,NaN,NaN,23,2301594,1450,Getafe,175,Atlético de Madrid,Spanish La Liga,2022
30,2446750099,215,49,Ball recovery,1,21,1,175,1,24.2,89.6,2022-08-15T18:52:31.994,2022-08-15T17:52:31.994,2022-08-16T06:35:20,1660628119772,[],89335,NaN,NaN,23,2301594,1450,Getafe,175,Atlético de Madrid,Spanish La Liga,2022
31,2446750125,203,49,Ball recovery,1,21,4,1450,1,76.2,26.7,2022-08-15T18:52:35.434,2022-08-15T17:52:35.434,2022-08-16T06:35:36,1660628135697,[],464283,NaN,NaN,23,2301594,1450,Getafe,175,Atlético de Madrid,Spanish La Liga,2022
32,2446750137,204,3,Take On,1,21,5,1450,0,73.1,13.8,2022-08-15T18:52:35.935,2022-08-15T17:52:35.935,2022-08-16T06:35:40,1660628139420,"[{'id': '3709856167', 'qualifier_id': '286'}, ...",464283,NaN,NaN,23,2301594,1450,Getafe,175,Atlético de Madrid,Spanish La Liga,2022
33,2446750139,219,49,Ball recovery,1,21,6,175,1,30.4,95.4,2022-08-15T18:52:37.407,2022-08-15T17:52:37.407,2022-08-16T06:35:49,1660628149041,[],167449,NaN,NaN,23,2301594,1450,Getafe,175,Atlético de Madrid,Spanish La Liga,2022
34,2446829941,790,3,Take On,1,23,51,1450,1,55.0,20.5,2022-08-15T18:55:22.085,2022-08-15T17:55:22.085,2022-08-16T06:41:49,1660628508960,"[{'id': '3710527463', 'qualifier_id': '178'}, ...",179271,NaN,NaN,23,2301594,1450,Getafe,175,Atlético de Madrid,Spanish La Liga,2022
35,2446751187,267,3,Take On,1,24,54,1450,1,67.5,53.3,2022-08-15T18:56:25.010,2022-08-15T17:56:25.010,2022-08-16T06:43:24,1660628603488,"[{'id': '3709862249', 'qualifier_id': '286'}, ...",199248,NaN,NaN,23,2301594,1450,Getafe,175,Atlético de Madrid,Spanish La Liga,2022
36,2446751095,264,3,Take On,1,24,54,1450,1,68.2,60.8,2022-08-15T18:56:25.836,2022-08-15T17:56:25.836,2022-08-16T06:43:28,1660628607456,"[{'id': '3709861787', 'qualifier_id': '56', 'v...",199248,NaN,NaN,23,2301594,1450,Getafe,175,Atlético de Madrid,Spanish La Liga,2022
37,2446751609,285,49,Ball recovery,1,27,33,175,1,64.0,77.9,2022-08-15T18:59:04.053,2022-08-15T17:59:04.053,2022-08-16T06:48:12,1660628891254,[],77390,NaN,NaN,23,2301594,1450,Getafe,175,Atlético de Madrid,Spanish La Liga,2022
38,2446751751,279,49,Ball recovery,1,28,7,1450,1,33.4,17.0,2022-08-15T18:59:38.020,2022-08-15T17:59:38.020,2022-08-16T06:49:35,1660628974806,[],464283,NaN,NaN,23,2301594,1450,Getafe,175,Atlético de Madrid,Spanish La Liga,2022
39,2446752099,310,49,Ball recovery,1,29,25,175,1,32.7,77.6,2022-08-15T19:00:56.575,2022-08-15T18:00:56.575,2022-08-16T06:50:25,1660629024142,[],167449,NaN,NaN,23,2301594,1450,Getafe,175,Atlético de Madrid,Spanish La Liga,2022
40,2446752217,291,49,Ball recovery,1,29,49,1450,1,32.1,66.1,2022-08-15T19:01:20.449,2022-08-15T18:01:20.449,2022-08-16T06:51:12,1660629071821,[],198499,NaN,NaN,23,2301594,1450,Getafe,175,Atlético de Madrid,Spanish La Liga,2022
41,2446753239,326,49,Ball recovery,1,33,0,175,1,19.9,37.4,2022-08-15T19:04:31.364,2022-08-15T18:04:31.364,2022-08-16T06:13:33,1660626812227,[],41189,NaN,NaN,23,2301594,1450,Getafe,175,Atlético de Madrid,Spanish La Liga,2022
42,2446753779,308,49,Ball recovery,1,34,12,1450,1,36.4,19.8,2022-08-15T19:05:43.469,2022-08-15T18:05:43.469,2022-08-16T06:16:22,1660626981610,[],149838,NaN,NaN,23,2301594,1450,Getafe,175,Atlético de Madrid,Spanish La Liga,2022
43,2446753833,350,49,Ball recovery,1,34,14,175,1,57.7,62.7,2022-08-15T19:05:45.313,2022-08-15T18:05:45.313,2022-08-16T06:16:40,1660626999059,[],89335,NaN,NaN,23,2301594,1450,Getafe,175,Atlético de Madrid,Spanish La Liga,2022
44,2446754109,356,49,Ball recovery,1,34,46,175,1,28.6,4.3,2022-08-15T19:06:17.770,2022-08-15T18:06:17.770,2022-08-16T06:17:42,1660627060930,[],221586,NaN,NaN,23,2301594,1450,Getafe,175,Atlético de Madrid,Spanish La Liga,2022
45,2446754271,317,49,Ball recovery,1,35,4,1450,1,59.0,88.4,2022-08-15T19:06:35.652,2022-08-15T18:06:35.652,2022-08-16T06:19:55,1660627194462,[],171222,NaN,NaN,23,2301594,1450,Getafe,175,Atlético de Madrid,Spanish La Liga,2022
46,2446755405,336,49,Ball recovery,1,37,37,1450,1,70.7,53.0,2022-08-15T19:09:08.238,2022-08-15T18:09:08.238,2022-08-16T06:27:30,1660627648930,[],198499,NaN,NaN,23,2301594,1450,Getafe,175,Atlético de Madrid,Spanish La Liga,2022
47,2446755709,342,49,Ball recovery,1,38,13,1450,1,54.3,74.1,2022-08-15T19:09:44.208,2022-08-15T18:09:44.208,2022-08-16T06:28:43,1660627722674,[],171222,NaN,NaN,23,2301594,1450,Getafe,175,Atlético de Madrid,Spanish La Liga,2022
48,2446755925,350,3,Take On,1,38,34,1450,0,87.9,9.6,2022-08-15T19:10:04.898,2022-08-15T18:10:04.898,2022-08-16T06:29:54,1660627793514,"[{'id': '3709888971', 'qualifier_id': '56', 'v...",464283,NaN,NaN,23,2301594,1450,Getafe,175,Atlético de Madrid,Spanish La Liga,2022
49,2446755959,351,3,Take On,1,38,37,1450,0,93.2,4.2,2022-08-15T19:10:07.961,2022-08-15T18:10:07.961,2022-08-16T06:30:14,1660627813850,"[{'id': '3709889157', 'qualifier_id': '56', 'v...",464283,NaN,NaN,23,2301594,1450,Getafe,175,Atlético de Madrid,Spanish La Liga,2022
50,2446756533,367,49,Ball recovery,1,39,58,1450,1,45.6,33.7,2022-08-15T19:11:29.794,2022-08-15T18:11:29.794,2022-08-16T06:32:36,1660627955321,[],171222,NaN,NaN,23,2301594,1450,Getafe,175,Atlético de Madrid,Spanish La Liga,2022
51,2446757269,380,49,Ball recovery,1,41,23,1450,1,26.2,43.9,2022-08-15T19:12:54.157,2022-08-15T18:12:54.157,2022-08-16T06:35:13,1660628112178,[],149838,NaN,NaN,23,2301594,1450,Getafe,175,Atlético de Madrid,Spanish La Liga,2022
52,2446757445,384,49,Ball recovery,1,41,43,1450,1,38.3,68.8,2022-08-15T19:13:14.269,2022-08-15T18:13:14.269,2022-08-16T06:36:14,1660628173241,[],171222,NaN,NaN,23,2301594,1450,Getafe,175,Atlético de Madrid,Spanish La Liga,2022
53,2446757555,421,49,Ball recovery,1,41,57,175,1,23.5,10.1,2022-08-15T19:13:28.225,2022-08-15T18:13:28.225,2022-08-16T06:36:48,1660628207346,[],65807,NaN,NaN,23,2301594,1450,Getafe,175,Atlético de Madrid,Spanish La Liga,2022
54,2446757607,390,49,Ball recovery,1,42,7,1450,1,63.3,88.4,2022-08-15T19:13:37.964,2022-08-15T18:13:37.964,2022-08-16T06:37:22,1660628241801,[],198499,NaN,NaN,23,2301594,1450,Getafe,175,Atlético de Madrid,Spanish La Liga,2022
55,2446757759,427,49,Ball recovery,1,42,24,175,1,29.4,6.1,2022-08-15T19:13:55.182,2022-08-15T18:13:55.182,2022-08-16T06:37:59,1660628278745,[],65807,NaN,NaN,23,2301594,1450,Getafe,175,Atlético de Madrid,Spanish La Liga,2022
56,2446759255,415,49,Ball recovery,1,45,20,1450,1,37.1,33.3,2022-08-15T19:16:51.737,2022-08-15T18:16:51.737,2022-08-16T06:41:07,1660628466392,[],149838,NaN,NaN,23,2301594,1450,Getafe,175,Atlético de Madrid,Spanish La Liga,2022
57,2446759613,450,49,Ball recovery,1,46,11,175,1,60.7,2.9,2022-08-15T19:17:42.665,2022-08-15T18:17:42.665,2022-08-16T06:42:42,1660628561145,[],221586,NaN,NaN,23,2301594,1450,Getafe,175,Atlético de Madrid,Spanish La Liga,2022
58,2446766047,475,49,Ball recovery,2,45,8,175,1,41.9,77.3,2022-08-15T19:33:41.029,2022-08-15T18:33:41.029,2022-08-16T06:35:10,1660627994922,[],167449,NaN,NaN,23,2301594,1450,Getafe,175,Atlético de Madrid,Spanish La Liga,2022
59,2446766279,489,3,Take On,2,45,38,175,0,85.1,91.8,2022-08-15T19:34:11.543,2022-08-15T18:34:11.543,2022-08-16T06:36:18,1660628177109,"[{'id': '3709953007', 'qualifier_id': '56', 'v...",434399,NaN,NaN,23,2301594,1450,Getafe,175,Atlético de Madrid,Spanish La Liga,2022
60,2446766311,437,49,Ball recovery,2,45,40,1450,1,21.9,5.2,2022-08-15T19:34:13.217,2022-08-15T18:34:13.217,2022-08-16T06:36:56,1660628214849,[],464283,NaN,NaN,23,2301594,1450,Getafe,175,Atlético de Madrid,Spanish La Liga,2022
61,2446766665,442,49,Ball recovery,2,46,38,1450,1,71.7,17.1,2022-08-15T19:35:11.348,2022-08-15T18:35:11.348,2022-08-16T06:38:26,1660628305489,[],179271,NaN,NaN,23,2301594,1450,Getafe,175,Atlético de Madrid,Spanish La Liga,2022
62,2446766677,498,49,Ball recovery,2,46,40,175,1,27.3,74.6,2022-08-15T19:35:13.188,2022-08-15T18:35:13.188,2022-08-16T06:38:52,1660628331289,[],167449,NaN,NaN,23,2301594,1450,Getafe,175,Atlético de Madrid,Spanish La Liga,2022
63,2446767017,508,3,Take On,2,47,35,175,1,76.0,64.4,2022-08-15T19:36:08.452,2022-08-15T18:36:08.452,2022-08-16T06:44:30,1660628669563,"[{'id': '3710328335', 'qualifier_id': '464'}, ...",221586,NaN,NaN,23,2301594,1450,Getafe,175,Atlético de Madrid,Spanish La Liga,2022
64,2446833507,931,3,Take On,2,47,58,175,0,54.8,8.1,2022-08-15T19:36:31.409,2022-08-15T18:36:31.409,2022-08-16T09:37:07,1660639026381,"[{'id': '3710329387', 'qualifier_id': '464'}, ...",167449,NaN,NaN,23,2301594,1450,Getafe,175,Atlético de Madrid,Spanish La Liga,2022
65,2446767433,522,49,Ball recovery,2,48,48,175,1,33.2,18.8,2022-08-15T19:37:21.093,2022-08-15T18:37:21.093,2022-08-16T06:49:28,1660628967169,[],41189,NaN,NaN,23,2301594,1450,Getafe,175,Atlético de Madrid,Spanish La Liga,2022
66,2446767523,457,49,Ball recovery,2,49,1,1450,1,57.6,62.4,2022-08-15T19:37:34.053,2022-08-15T18:37:34.053,2022-08-16T08:24:14,1660634654141,[],179271,NaN,NaN,23,2301594,1450,Getafe,175,Atlético de Madrid,Spanish La Liga,2022
67,2446767673,531,49,Ball recovery,2,49,18,175,1,13.7,26.3,2022-08-15T19:37:51.294,2022-08-15T18:37:51.294,2022-08-16T06:53:24,1660629203896,[],65807,NaN,NaN,23,2301594,1450,Getafe,175,Atlético de Madrid,Spanish La Liga,2022
68,2446767723,466,49,Ball recovery,2,49,23,1450,1,74.5,74.1,2022-08-15T19:37:55.698,2022-08-15T18:37:55.698,2022-08-16T06:54:48,1660629287208,[],171222,NaN,NaN,23,2301594,1450,Getafe,175,Atlético de Madrid,Spanish La Liga,2022
69,2446768041,477,3,Take On,2,50,3,1450,0,72.5,4.9,2022-08-15T19:38:36.346,2022-08-15T18:38:36.346,2022-08-16T06:56:01,1660629358742,"[{'id': '3709963683', 'qualifier_id': '286'}, ...",464283,NaN,NaN,23,2301594,1450,Getafe,175,Atlético de Madrid,Spanish La Liga,2022
70,2446768047,537,49,Ball recovery,2,50,5,175,1,20.7,85.1,2022-08-15T19:38:38.437,2022-08-15T18:38:38.437,2022-08-16T06:56:06,1660629365327,[],434399,NaN,NaN,23,2301594,1450,Getafe,175,Atlético de Madrid,Spanish La Liga,2022
71,2446768407,478,49,Ball recovery,2,50,48,1450,1,29.3,30.9,2022-08-15T19:39:21.510,2022-08-15T18:39:21.510,2022-08-16T06:58:07,1660629486327,[],149838,NaN,NaN,23,2301594,1450,Getafe,175,Atlético de Madrid,Spanish La Liga,2022
72,2446769021,491,3,Take On,2,52,26,1450,0,90.6,91.8,2022-08-15T19:40:59.130,2022-08-15T18:40:59.130,2022-08-16T07:04:44,1660629883557,"[{'id': '3709969381', 'qualifier_id': '56', 'v...",199248,NaN,NaN,23,2301594,1450,Getafe,175,Atlético de Madrid,Spanish La Liga,2022
73,2446769483,500,49,Ball recovery,2,54,3,1450,1,40.9,15.3,2022-08-15T19:42:35.823,2022-08-15T18:42:35.823,2022-08-16T07:07:59,1660630078678,[],179271,NaN,NaN,23,2301594,1450,Getafe,175,Atlético de Madrid,Spanish La Liga,2022
74,2446769531,503,3,Take On,2,54,10,1450,0,92.4,74.2,2022-08-15T19:42:43.631,2022-08-15T18:42:43.631,2022-08-16T07:08:32,1660630111479,"[{'id': '3709972667', 'qualifier_id': '286'}, ...",199248,NaN,NaN,23,2301594,1450,Getafe,175,Atlético de Madrid,Spanish La Liga,2022
75,2446769555,582,49,Ball recovery,2,54,15,175,1,9.1,10.9,2022-08-15T19:42:48.008,2022-08-15T18:42:48.008,2022-08-16T07:09:02,1660630141821,[],221586,NaN,NaN,23,2301594,1450,Getafe,175,Atlético de Madrid,Spanish La Liga,2022
76,2446769581,504,49,Ball recovery,2,54,18,1450,1,73.4,90.5,2022-08-15T19:42:50.800,2022-08-15T18:42:50.800,2022-08-16T07:09:21,1660630160941,[],171222,NaN,NaN,23,2301594,1450,Getafe,175,Atlético de Madrid,Spanish La Liga,2022
77,2446769625,585,49,Ball recovery,2,54,24,175,1,28.4,54.6,2022-08-15T19:42:57.547,2022-08-15T18:42:57.547,2022-08-16T07:09:49,1660630188269,[],167449,NaN,NaN,23,2301594,1450,Getafe,175,Atlético de Madrid,Spanish La Liga,2022
78,2446835977,932,3,Take On,2,54,27,175,0,34.1,64.8,2022-08-15T19:42:59.979,2022-08-15T18:42:59.979,2022-08-16T09:42:25,1660639344484,"[{'id': '3710551153', 'qualifier_id': '178'}, ...",428399,NaN,NaN,23,2301594,1450,Getafe,175,Atlético de Madrid,Spanish La Liga,2022
79,2446769897,509,49,Ball recovery,2,55,5,1450,1,12.3,6.2,2022-08-15T19:43:37.712,2022-08-15T18:43:37.712,2022-08-16T07:11:19,1660630278420,[],149838,NaN,NaN,23,2301594,1450,Getafe,175,Atlético de Madrid,Spanish La Liga,2022
80,2446770079,594,49,Ball recovery,2,55,36,175,1,11.2,95.4,2022-08-15T19:44:09.618,2022-08-15T18:44:09.618,2022-08-16T07:12:51,1660630370037,[],434399,NaN,NaN,23,2301594,1450,Getafe,175,Atlético de Madrid,Spanish La Liga,2022
81,2446770349,525,49,Ball recovery,2,56,16,1450,1,52.7,29.2,2022-08-15T19:44:49.491,2022-08-15T18:44:49.491,2022-08-16T07:13:38,1660630417252,[],168636,NaN,NaN,23,2301594,1450,Getafe,175,Atlético de Madrid,Spanish La Liga,2022
82,2446770365,526,3,Take On,2,56,17,1450,1,53.7,14.7,2022-08-15T19:44:50.143,2022-08-15T18:44:50.143,2022-08-16T07:13:46,1660630425926,"[{'id': '3709977811', 'qualifier_id': '56', 'v...",168636,NaN,NaN,23,2301594,1450,Getafe,175,Atlético de Madrid,Spanish La Liga,2022

In [13]:
# Set up the table that will contain our information
teams_df = pd.DataFrame(columns=["team_id", "team_name", "recovery_time"])
teams_df

Empty DataFrame
Columns: [team_id, team_name, recovery_time]
Index: []

In [10]:
# For loop to iterate each ball recovery

for index, ball_recovery in ball_recoveries.iterrows():
    index=int(index)
    #if its the first recovery of the game, then the starting time would be 0, if not we get the time of the previous recovery
    prev_min = 0 if index == 0 else ( (ball_recoveries.iloc[index-1]["min"] * 60) + ball_recoveries.iloc[index-1]["sec"] )
    recovery_time = ((ball_recovery["min"]*60) + ball_recovery["sec"]) - prev_min

    #check if the recovery was done by the home team or away team
    team_name = ball_recovery["home_team_name"] if ball_recovery["team_id"] == ball_recovery["home_team_id"] else ball_recovery["away_team_name"]
    
    
    data = {"team_id": [ball_recovery["team_id"]], 'team_name': [team_name], 'recovery_time': [recovery_time]}
    values = pd.DataFrame(data)
    
    teams_df = pd.concat([teams_df,values], ignore_index = True)   
    
    
teams_df

   team_id           team_name recovery_time
0      175  Atlético de Madrid           109
1      175  Atlético de Madrid            90
2     1450              Getafe            13
3      175  Atlético de Madrid            11
4     1450              Getafe            25
5      175  Atlético de Madrid             3
6     1450              Getafe            85
7      175  Atlético de Madrid            83
8      175  Atlético de Madrid           357
9      175  Atlético de Madrid            36
10    1450              Getafe            21
11     175  Atlético de Madrid             6
12     175  Atlético de Madrid            77
13     175  Atlético de Madrid            22
14    1450              Getafe             3
15     175  Atlético de Madrid            32
16    1450              Getafe             4
17     175  Atlético de Madrid            70
18    1450              Getafe           131
19     175  Atlético de Madrid            55
20     175  Atlético de Madrid            28
21    1450              Getafe             3
22     175  Atlético de Madrid             2
23     175  Atlético de Madrid           387
24    1450              Getafe            34
25     175  Atlético de Madrid            78
26    1450              Getafe            24
27     175  Atlético de Madrid           191
28    1450              Getafe            72
29     175  Atlético de Madrid             2
30     175  Atlético de Madrid            32
31    1450              Getafe            18
32    1450              Getafe           153
33    1450              Getafe            36
34    1450              Getafe           105
35    1450              Getafe            85
36    1450              Getafe            20
37     175  Atlético de Madrid            14
38    1450              Getafe            10
39     175  Atlético de Madrid            17
40    1450              Getafe           176
41     175  Atlético de Madrid            51
42     175  Atlético de Madrid           -63
43    1450              Getafe            32
44    1450              Getafe            58
45     175  Atlético de Madrid             2
46     175  Atlético de Madrid           128
47    1450              Getafe            13
48     175  Atlético de Madrid            17
49    1450              Getafe             5
50     175  Atlético de Madrid            42
51    1450              Getafe            43
52    1450              Getafe           195
53     175  Atlético de Madrid            12
54    1450              Getafe             3
55     175  Atlético de Madrid             6
56    1450              Getafe            41
57     175  Atlético de Madrid            31
58    1450              Getafe            40
59     175  Atlético de Madrid             6
60    1450              Getafe             1
61     175  Atlético de Madrid            30
62    1450              Getafe             7
63    1450              Getafe            69
64     175  Atlético de Madrid            15
65    1450              Getafe           200
66    1450              Getafe           141
67     175  Atlético de Madrid           126
68    1450              Getafe           156
69     175  Atlético de Madrid             8
70    1450              Getafe           141
71     175  Atlético de Madrid            99
72    1450              Getafe            30
73     175  Atlético de Madrid           214
74    1450              Getafe            36
75     175  Atlético de Madrid             8
76    1450              Getafe            46
77     175  Atlético de Madrid            57
78    1450              Getafe             4
79     175  Atlético de Madrid            17
80    1450              Getafe           119
81    1450              Getafe           107
82     175  Atlético de Madrid           148
83    1450              Getafe            45
84     175  Atlético de Madrid             6
85     175  Atlético de Madrid            69
86    1450              Getafe            95