# **PARSING FUNCTIONS**  

Read the code if you want, if not just run the next cell.

In [2]:
import xml.etree.ElementTree as et
import pandas as pd
from IPython.core import display as ICD
from pandas import json_normalize
import pandas as pd
import tqdm as tqdm
import os
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
from datetime import datetime
import time

#@title
types_dict={1:"Pass",2:"Offside Pass",3:"Take On",4:"Foul",5:"Out",6:"Corner Awarded",7:"Tackle",8:"Interception",9:"Turnover",10:"Save",11:"Claim",12:"Clearance",13:"Miss",14:"Post",15:"Attempt Saved",16:"Goal",17:"Card",18:"Player off",19:"Player on",20:"Player retired",21:"Player returns",22:"Player becomes goalkeeper",23:"Goalkeeper becomes player",24:"Condition change",25:"Official change",27:"Start delay",28:"End delay",30:"End",31:"Picked an orange",32:"Start",34:"Team set up",35:"Player changed position",36:"Player changed Jersey number",37:"Collection End",38:"Temp_Goal",39:"Temp_Attempt",40:"Formation change",41:"Punch",42:"Good Skill",43:"Deleted event",44:"Aerial",45:"Challenge",47:"Rescinded card",49:"Ball recovery",50:"Dispossessed",51:"Error",52:"Keeper pick-up",53:"Cross not claimed",54:"Smother",55:"Offside provoked",56:"Shield ball opp",57:"Foul throw-in",58:"Penalty faced",59:"Keeper Sweeper",60:"Chance missed",61:"Ball touch",63:"Temp_Save",64:"Resume",65:"Contentious referee decision",67:"50/50",68:"Referee drop ball",69:"Failed To Block",72:"Caught offside",73:"Other Ball Contact",74:"Blocked pass"};
types = pd.DataFrame.from_dict(types_dict,orient='index').reset_index()
types.columns=["type_id","event_name"]

qualifiers_dict={1:"Long ball",2:"Cross",3:"Head pass",4:"Through ball",5:"Free kick taken",6:"Corner taken",7:"Players caught offside",8:"Goal disallowed",9:"Penalty",10:"Hand",11:"6-seconds violation",12:"Dangerous play",13:"Foul",14:"Last line",15:"Head",16:"Small box-centre",17:"Box-centre",18:"Out of box-centre",19:"35+ centre",20:"Right footed",21:"Other body part",22:"Regular play",23:"Fast break",24:"Set piece",25:"From corner",26:"Free kick",28:"Own goal",29:"Assisted",30:"Involved",31:"Yellow Card",32:"Second yellow",33:"Red card",34:"Referee abuse",35:"Argument",36:"Fight",37:"Time wasting",38:"Excessive celebration",39:"Crowd interaction",40:"Other reason",41:"Injury",42:"Tactical",44:"Player position",49:"Attendance figure",50:"Official position",51:"Official ID",53:"Injured player id",54:"End cause",55:"Related event ID",56:"Zone",57:"End type",59:"Jersey number",60:"Small box-right",61:"Small box-left",62:"Box-deep right",63:"Box-right",64:"Box-left",65:"Box-deep left",66:"Out of box-deep right",67:"Out of box-right",68:"Out of box-left",69:"Out of box-deep left",70:"35+ right",71:"35+ left",72:"Left footed",73:"Left",74:"High",75:"Right",76:"Low left",77:"High left",78:"Low centre",79:"High centre",80:"Low right",81:"High right",82:"Blocked",83:"Close left",84:"Close right",85:"Close high",86:"Close left and high",87:"Close right and high",88:"High claim",89:"1 on 1",90:"Deflected save",91:"Dive and deflect",92:"Catch",93:"Dive and catch",94:"Def block",95:"Back pass",96:"Corner situation",97:"Direct free",100:"Six yard blocked",101:"Saved off line",102:"Goal mouth y co-ordinate",103:"Goal mouth z co-ordinate",106:"Attacking Pass",107:"Throw-in",108:"Volley",109:"Overhead",110:"Half Volley",111:"Diving Header",112:"Scramble",113:"Strong",114:"Weak",115:"Rising",116:"Dipping",117:"Lob",118:"One Bounce",119:"Few Bounces",120:"Swerve Left",121:"Swerve Right",122:"Swerve Moving",123:"Keeper Throw",124:"Goal Kick",127:"Direction of play",128:"Punch",130:"Team formation",131:"Team player formation",132:"Dive",133:"Deflection",134:"Far Wide Left",135:"Far Wide Right",136:"Keeper Touched",137:"Keeper Saved",138:"Hit Woodwork",139:"Own Player",140:"Pass End X",141:"Pass End Y",144:"Deleted event type",145:"Formation slot",146:"Blocked x co-ordinate",147:"Blocked y co-ordinate",153:"Not past goal line",154:"Intentional assist",155:"Chipped",156:"Lay-off",157:"Launch",158:"Persistent infringement",159:"Foul and abusive language",160:"Throw-in set piece",161:"Encroachment",162:"Leaving field",163:"Entering field",164:"Spitting",165:"Professional foul",166:"Handling on the line",167:"Out of play",168:"Flick-on",169:"Leading to attempt",170:"Leading to goal",171:"Rescinded card",172:"No impact on timing",173:"Parried safe",174:"Parried danger",175:"Fingertip",176:"Caught",177:"Collected",178:"Standing",179:"Diving",180:"Stooping",181:"Reaching",182:"Hands",183:"Feet",184:"Dissent",185:"Blocked cross",186:"Scored",187:"Saved",188:"Missed",189:"Player not visible",190:"From shot off target",191:"Off the ball foul",192:"Block by hand",194:"Captain",195:"Pull Back",196:"Switch of play",197:"Team kit",198:"GK hoof",199:"Gk kick from hands",200:"Referee stop",201:"Referee delay",202:"Weather problem",203:"Crowd trouble",204:"Fire",205:"Object thrown on pitch",206:"Spectator on pitch",207:"Awaiting officials decision",208:"Referee Injury",209:"Game end",210:"Assist",211:"Overrun",212:"Length",213:"Angle",214:"Big Chance",215:"Individual Play",216:"2nd related event ID",217:"2nd assisted",218:"2nd assist",219:"Players on both posts",220:"Player on near post",221:"Player on far post",222:"No players on posts",223:"In-swinger",224:"Out-swinger",225:"Straight",226:"Suspended",227:"Resume",228:"Own shot blocked",229:"Post-match complete",230:"GK X Coordinate",231:"GK Y Coordinate",232:"Unchallenged"};
qualifiers = pd.DataFrame.from_dict(qualifiers_dict,orient='index').reset_index()
qualifiers.columns = ["qualifier_id","description"]

qualifiers_dict2 = {str(key): str(value) for key, value in qualifiers_dict.items()}


def parsef24(F24file):
  tree = et.ElementTree(file = F24file)
  games = tree.getroot()
  gameinfo = games.findall('Game')
  gameinfo = gameinfo[0]
  game_id = gameinfo.get('id')
  home_team_id = gameinfo.get('home_team_id')
  home_team_name = gameinfo.get('home_team_name')
  away_team_id = gameinfo.get('away_team_id')
  away_team_name = gameinfo.get('away_team_name')
  competition_id = gameinfo.get('competition_id')
  competition_name = gameinfo.get('competition_name')
  season_id = gameinfo.get('season_id')

  global match_events
  match_events = pd.DataFrame()
  for game in games:
      for event in game:
          evento = json_normalize(event.attrib)
          mylist = []
          for q in event:
            mylist.append(q.attrib)
          evento["qualifiers"] = ["a"]
          evento.at[0,"qualifiers"] = mylist
          match_events = pd.concat([match_events,evento])
  match_events[["id","event_id","type_id","period_id","min","sec"]] = match_events[["id","event_id","type_id","period_id","min","sec"]].astype(int)
  match_events[["y","x"]] = match_events[["y","x"]].astype(float)
  match_events = pd.merge(match_events,types, on="type_id", how = "left")
  match_events = match_events[ ['id',"event_id","type_id", "event_name" ]+ [ col for col in match_events.columns if col not in ['id',"event_id","type_id", "event_name" ] ] ]
  match_events['competition_id'] = competition_id
  match_events['game_id'] = game_id
  match_events['home_team_id'] = home_team_id
  match_events['home_team_name'] = home_team_name
  match_events['away_team_id'] = away_team_id
  match_events['away_team_name'] = away_team_name
  match_events['competition_id'] = competition_id
  match_events['competition_name'] = competition_name
  match_events['season_id'] = season_id
  match_events['competition_id'] = competition_id

def explode_event(nome_df,id_evento,mytresh):
  global exploded_df
  exploded_df = pd.DataFrame()
  nome_df=nome_df[nome_df["type_id"]==id_evento]
  allqualifiers = pd.DataFrame()
  for i in range(len(nome_df)):
    qualifiers_detailed = json_normalize(nome_df.qualifiers.iloc[i]).T.reset_index().drop("index",axis=1).fillna("yes")
    qualifiers_detailed.columns = list(qualifiers_detailed.iloc[1])
    qualifiers_detailed = qualifiers_detailed.drop(labels=[0,1], axis=0)
    qualifiers_detailed.rename(columns=qualifiers_dict2,inplace=True)
    qualifiers_detailed["id"] = nome_df.id.iloc[i]
    allqualifiers = pd.concat([allqualifiers,qualifiers_detailed])
  exploded_df = pd.concat([exploded_df,pd.merge(nome_df.drop("qualifiers", axis=1), allqualifiers.reindex(sorted(allqualifiers.columns), axis=1).reset_index()\
                                            .drop("index", axis=1).dropna(thresh=len(allqualifiers)*mytresh, axis=1), on="id", how="outer")]).fillna("-")

#**PLEASE READ**:


**types** - DataFrame with all the IDs of event types and their respective names. Print 'types.head()' to get an idea of the content.


**qualifiers** - DataFrame with all the IDs of qualifiers and their respective names.
Print 'qualifiers.head()' to get an idea of the content



---







**parsef24** - Function that transforms an Opta F24 XML feed into a pandas DataFrame named match_events. To be executed correctly, it should receive the XML file's name as a parameter (which should already be loaded into Google Colab).
Print 'match_events.head(15)' to get an idea of the content.



---




**explode_event** - Function that takes the DataFrame 'match_events' (or another one filtered by you) and the type of event you want, "exploding" all qualifiers into columns to create a new DataFrame named "exploded_df". The last parameter is the threshold that defines the minimum percentage of non-null values that the columns must contain. If it is 1, it will return only columns with no NaN values, while if it is 0, it returns all columns.


Example:
```
explode_event(match_events, 1, 0.15)
```

# **METRIC CREATION**

## Metric Specifications

We want to calculate the average time a team takes to recover the ball.

Metric Specifications:
* Calculate the time to recover the ball since they lost it
* Count the total ball recoveries
* Calculate the average time for each team

We want to  create a table with columns:
* Team ID
* Team Name
* Ball recovery time

In [75]:
# START HERE:

parsef24("F24 La Liga 2023/f24-23-2022-2301594-eventdetails.xml")

# The parsef24 function will generate a new DataFrame called "match_events". Print "match_events.info()" to check the outcome.
match_events.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1835 entries, 0 to 1834
Data columns (total 27 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                1835 non-null   int64
 1   event_id          1835 non-null   int64
 2   type_id           1835 non-null   int64
 3   event_name        1820 non-null   object
 4   period_id         1835 non-null   int64
 5   min               1835 non-null   int64
 6   sec               1835 non-null   int64
 7   team_id           1835 non-null   object
 8   outcome           1835 non-null   object
 9   x                 1835 non-null   float64
 10  y                 1835 non-null   float64
 11  timestamp         1835 non-null   object
 12  timestamp_utc     1835 non-null   object
 13  last_modified     1835 non-null   object
 14  version           1835 non-null   object
 15  qualifiers        1835 non-null   object
 16  player_id         1807 non-null   object
 17  assist            3 non-null      object
 18  keypass           14 non-null     object
 19  competition_id    1835 non-null   object
 20  game_id           1835 non-null   object
 21  home_team_id      1835 non-null   object
 22  home_team_name    1835 non-null   object
 23  away_team_id      1835 non-null   object
 24  away_team_name    1835 non-null   object
 25  competition_name  1835 non-null   object
 26  season_id         1835 non-null   object
dtypes: float64(2), int64(6), object(19)
memory usage: 387.2+ KB

In [88]:
#We get all the ball recoveries from the match_events dataframe
# | (match_events["event_name"] == "Take On")
ball_recoveries = match_events[(match_events["event_name"] == "Ball recovery")]
#ball_recoveries = match_events.loc[(match_events["event_name"] == "Ball recovery") | (match_events["event_name"] == "Take On")]
ball_recoveries.reset_index(inplace=True, drop=True)
ball_recoveries.head()

,id,event_id,type_id,event_name,period_id,min,sec,team_id,outcome,x,y,timestamp,timestamp_utc,last_modified,version,qualifiers,player_id,assist,keypass,competition_id,game_id,home_team_id,home_team_name,away_team_id,away_team_name,competition_name,season_id
0,2446743263,20,49,Ball recovery,1,1,49,175,1,14.2,18.5,2022-08-15T18:33:20.726,2022-08-15T17:33:20.726,2022-08-16T06:09:42,1660626581370,[],41189,NaN,NaN,23,2301594,1450,Getafe,175,Atlético de Madrid,Spanish La Liga,2022
1,2446743707,38,49,Ball recovery,1,3,19,175,1,29.6,17.3,2022-08-15T18:34:50.434,2022-08-15T17:34:50.434,2022-08-16T06:13:54,1660626833418,[],77390,NaN,NaN,23,2301594,1450,Getafe,175,Atlético de Madrid,Spanish La Liga,2022
2,2446743751,23,49,Ball recovery,1,3,32,1450,1,12.6,34.2,2022-08-15T18:35:02.957,2022-08-15T17:35:02.957,2022-08-16T06:14:41,1660626880337,[],175204,NaN,NaN,23,2301594,1450,Getafe,175,Atlético de Madrid,Spanish La Liga,2022
3,2446743825,41,49,Ball recovery,1,3,43,175,1,58.2,40.0,2022-08-15T18:35:14.678,2022-08-15T17:35:14.678,2022-08-16T06:16:03,1660626962523,[],167449,NaN,NaN,23,2301594,1450,Getafe,175,Atlético de Madrid,Spanish La Liga,2022
4,2446743981,30,49,Ball recovery,1,4,8,1450,1,36.9,13.7,2022-08-15T18:35:39.239,2022-08-15T17:35:39.239,2022-08-16T06:18:24,1660627104276,[],168636,NaN,NaN,23,2301594,1450,Getafe,175,Atlético de Madrid,Spanish La Liga,2022

In [89]:
#Clean the data a litle, since we want recoveries to the opposite team, and we have same team recoveries in a row

# Create a list to hold the indices of rows to drop
indices_to_drop = []

# Iterate through the DataFrame and find the indexes of the rows we want to remove
for index in range(1, len(ball_recoveries)-1):
    if (ball_recoveries.iloc[index-1]["team_id"] == ball_recoveries.iloc[index]["team_id"]):
        indices_to_drop.append(index)

# Drop all the rows at once
ball_recoveries.drop(indices_to_drop, inplace=True)
ball_recoveries.reset_index(inplace=True, drop=True)

/tmp/ipykernel_3223/1904134219.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ball_recoveries.drop(indices_to_drop, inplace=True)

In [90]:
ball_recoveries.head()

,id,event_id,type_id,event_name,period_id,min,sec,team_id,outcome,x,y,timestamp,timestamp_utc,last_modified,version,qualifiers,player_id,assist,keypass,competition_id,game_id,home_team_id,home_team_name,away_team_id,away_team_name,competition_name,season_id
0,2446743263,20,49,Ball recovery,1,1,49,175,1,14.2,18.5,2022-08-15T18:33:20.726,2022-08-15T17:33:20.726,2022-08-16T06:09:42,1660626581370,[],41189,NaN,NaN,23,2301594,1450,Getafe,175,Atlético de Madrid,Spanish La Liga,2022
1,2446743751,23,49,Ball recovery,1,3,32,1450,1,12.6,34.2,2022-08-15T18:35:02.957,2022-08-15T17:35:02.957,2022-08-16T06:14:41,1660626880337,[],175204,NaN,NaN,23,2301594,1450,Getafe,175,Atlético de Madrid,Spanish La Liga,2022
2,2446743825,41,49,Ball recovery,1,3,43,175,1,58.2,40.0,2022-08-15T18:35:14.678,2022-08-15T17:35:14.678,2022-08-16T06:16:03,1660626962523,[],167449,NaN,NaN,23,2301594,1450,Getafe,175,Atlético de Madrid,Spanish La Liga,2022
3,2446743981,30,49,Ball recovery,1,4,8,1450,1,36.9,13.7,2022-08-15T18:35:39.239,2022-08-15T17:35:39.239,2022-08-16T06:18:24,1660627104276,[],168636,NaN,NaN,23,2301594,1450,Getafe,175,Atlético de Madrid,Spanish La Liga,2022
4,2446744011,52,49,Ball recovery,1,4,11,175,1,60.6,97.8,2022-08-15T18:35:41.886,2022-08-15T17:35:41.886,2022-08-16T06:18:46,1660627126065,[],89335,NaN,NaN,23,2301594,1450,Getafe,175,Atlético de Madrid,Spanish La Liga,2022

In [91]:
# Initialize dataframe that will contain our information
teams_df = pd.DataFrame(columns=['team_id', 'team_name', 'recovery_time'])

# For loop to iterate each ball recovery
for index, ball_recovery in ball_recoveries.iterrows():

    # Convert index to integer
    index = int(index)
    
    # Find the seconds where the ball was last recovered
    if index == 0:
        prev_min = 0
    else:
        prev_min = (ball_recoveries.iloc[index-1]["min"] * 60) + ball_recoveries.iloc[index-1]["sec"]
    
    # Calculate the time to recover the ball based on the previous ball recovery time
    recovery_time = ((ball_recovery["min"] * 60) + ball_recovery["sec"]) - prev_min

    # Check if the recovery was done by the home team or away team
    team_name = ball_recovery["home_team_name"] if ball_recovery["team_id"] == ball_recovery["home_team_id"] else ball_recovery["away_team_name"]
    
    # Create a dictionary for the new row
    data = {"team_id": ball_recovery["team_id"], 'team_name': team_name, 'recovery_time': recovery_time}
    values = pd.DataFrame([data])  # Create a DataFrame from the dictionary
    
    # Concatenate the new row to the results DataFrame
    teams_df = pd.concat([teams_df, values], ignore_index=True)

# Remove any negative values in our data
teams_df = teams_df[teams_df['recovery_time'] >= 0]

# Display the resulting DataFrame
teams_df

   team_id           team_name recovery_time
0      175  Atlético de Madrid           109
1     1450              Getafe           103
2      175  Atlético de Madrid            11
3     1450              Getafe            25
4      175  Atlético de Madrid             3
5     1450              Getafe            85
6      175  Atlético de Madrid            83
7     1450              Getafe           414
8      175  Atlético de Madrid             6
9     1450              Getafe           102
10     175  Atlético de Madrid            32
11    1450              Getafe             4
12     175  Atlético de Madrid            70
13    1450              Getafe           131
14     175  Atlético de Madrid            55
15    1450              Getafe            31
16     175  Atlético de Madrid             2
17    1450              Getafe           421
18     175  Atlético de Madrid            78
19    1450              Getafe            24
20     175  Atlético de Madrid           191
21    1450              Getafe            72
22     175  Atlético de Madrid             2
23    1450              Getafe            50
24     175  Atlético de Madrid           413
25    1450              Getafe            10
26     175  Atlético de Madrid            17
27    1450              Getafe           176
28     175  Atlético de Madrid            51
30     175  Atlético de Madrid            60
31    1450              Getafe           141
32     175  Atlético de Madrid            17
33    1450              Getafe             5
34     175  Atlético de Madrid            42
35    1450              Getafe            43
36     175  Atlético de Madrid           207
37    1450              Getafe             3
38     175  Atlético de Madrid             6
39    1450              Getafe            41
40     175  Atlético de Madrid            31
41    1450              Getafe            40
42     175  Atlético de Madrid             6
43    1450              Getafe             1
44     175  Atlético de Madrid            30
45    1450              Getafe             7
46     175  Atlético de Madrid            84
47    1450              Getafe           200
48     175  Atlético de Madrid           267
49    1450              Getafe           156
50     175  Atlético de Madrid             8
51    1450              Getafe           141
52     175  Atlético de Madrid            99
53    1450              Getafe            30
54     175  Atlético de Madrid           214
55    1450              Getafe            36
56     175  Atlético de Madrid             8
57    1450              Getafe            46
58     175  Atlético de Madrid            57
59    1450              Getafe             4
60     175  Atlético de Madrid            17
61    1450              Getafe           119
62     175  Atlético de Madrid           255
63    1450              Getafe            45
64     175  Atlético de Madrid             6
65    1450              Getafe           164